name: Consul Integration Build
run-name: "Event: Tag ${{ github.event.client_payload.tag }} from ${{ github.event.client_payload.repo }}  #${{ github.run_number }}"

permissions:
  contents: read

on:
  repository_dispatch:
    types: [integration-consul-built]

env:
  EVENT_BASE_IMAGE: ${{ github.event.client_payload.base_image }}
  EVENT_TAG: ${{ github.event.client_payload.tag }}
  EVENT_PATCHED_TAG: ${{ github.event.client_payload.patched_tag }}
  EVENT_REPO: ${{ github.event.client_payload.repo }}
  EVENT_OWNER: ${{ github.event.client_payload.owner }}
  EVENT_TARGET_BRANCH: ${{ github.event.client_payload.target_branch }}
  EVENT_FORCE_CREATE: ${{ github.event.client_payload.force_create }}
  TECH_BRANCH: feature/integration-build

jobs:
  update-image-reference:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    outputs:
      TARGET_BRANCH: ${{ steps.update_image.outputs.target_branch }}
      components: ${{ steps.load_config.outputs.components }}
      platforms: ${{ steps.load_config.outputs.platforms }}
      tags: ${{ steps.meta.outputs.result }}
    steps:
      - name: Check payload
        run: |
          echo "TAG=${EVENT_TAG}"
          echo "BASE_IMAGE=${EVENT_BASE_IMAGE}"
          echo "OWNER=${EVENT_OWNER}"
          echo "REPO_NAME=${EVENT_REPO}"

      - name: Checkout target branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.EVENT_TARGET_BRANCH }}
          persist-credentials: true

      - name: Create/update tech branch and update image
        id: update_image
        run: |
          # TECH_BRANCH="${{ env.TECH_BRANCH }}"
          TARGET_BRANCH="${EVENT_TARGET_BRANCH}"
          IMAGE="${EVENT_BASE_IMAGE}"
          FILE="charts/helm/consul-service/values.yaml"

          git fetch origin "$TARGET_BRANCH"

          echo "Resetting $TECH_BRANCH to origin/$TARGET_BRANCH"

          git checkout -B "$TECH_BRANCH" "origin/$TARGET_BRANCH"
          git push origin "$TECH_BRANCH" --force
          echo "target_branch=$TECH_BRANCH" >> "$GITHUB_OUTPUT"

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          echo "Updating Consul image to: $IMAGE"
          sed -i "0,/^  image: \".*\"/s|^  image: \".*\"|  image: \"$IMAGE\"|" "$FILE"

          echo "Diff:"
          git diff -- "$FILE"

          if git diff --quiet "$FILE"; then
            echo "No changes detected."
            echo "target_branch=$TECH_BRANCH" >> "$GITHUB_OUTPUT"
            exit 0
          fi

          git add "$FILE"
          git commit -m "[IBuild] Update Consul with [patched] image to $IMAGE"
          git push origin "$TECH_BRANCH"

          echo "target_branch=$TECH_BRANCH" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          ref: ${{ env.TECH_BRANCH }}
          fetch-depth: 0
          persist-credentials: false

      - name: Load Config
        id: load_config
        run: |
          echo "components=$(jq -c '.components' .github/integration-build.cfg)" >> "$GITHUB_OUTPUT"
          echo "platforms=$(jq -c '.platforms' .github/integration-build.cfg)" >> "$GITHUB_OUTPUT"
          echo components=$components
          echo platforms=$platforms

      - name: Create Meta info (tags)
        uses: netcracker/qubership-workflow-hub/actions/metadata-action@8d542a426ce561c7dce745f6b9cee068d1d7e101 #2.0.10
        id: meta
        with:
          ref: ${{ env.TECH_BRANCH }}
          default-template: "{{ref-name}}"
          extra-tags: ${{ env.EVENT_TAG }}
          replace-symbol: "_"

  multiplatform_build:
    name: Build Docker Images
    needs: update-image-reference
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    strategy:
      fail-fast: false
      matrix:
        component: ${{ fromJson(needs.update-image-reference.outputs.components) }}
    steps:
      - name: Debug tags and components
        run: |
          echo "Tags: ${TAGS}"
          echo "Component: ${COMPONENT}"
        env:
          TAGS: ${{ needs.update-image-reference.outputs.tags }}
          COMPONENT: ${{ toJson(matrix.component) }}

      - name: Docker
        uses: netcracker/qubership-workflow-hub/actions/docker-action@8d542a426ce561c7dce745f6b9cee068d1d7e101 #2.0.10
        with:
          ref: ${{ env.TECH_BRANCH }}
          component: ${{ toJson(matrix.component) }}
          download-artifact: false
          platforms: ${{ needs.update-image-reference.outputs.platforms }}
          tags: ${{ needs.update-image-reference.outputs.tags }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  consul-pipeline:
    needs: [update-image-reference, multiplatform_build]
    uses: Netcracker/qubership-test-pipelines/.github/workflows/consul.yaml@4487afa083e5ba0cf64690d2e93e3d8ee94fab4f # v1.3.0
    with:
      service_branch: "${{ needs.update-image-reference.outputs.TARGET_BRANCH }}"
      versions_file: ".github/versions.yaml"
      pipeline_branch: "4487afa083e5ba0cf64690d2e93e3d8ee94fab4f" #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{ secrets.AWS_S3_ACCESS_KEY_ID }}
      AWS_S3_ACCESS_KEY_SECRET: ${{ secrets.AWS_S3_ACCESS_KEY_SECRET }}
